@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:400,900');
}

// Variables
$nav-color: rgb(60, 60, 224);
$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins
@mixin animation($name, $duration, $interp, $iter: 1) {
    animation: $name $duration $interp $iter;
    -webkit-animation: $name $duration $interp $iter;
    -moz-animation: $name $duration $interp $iter;
    -o-animation: $name $duration $interp $iter;
    -khtml-animation: $name $duration $interp $iter;
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin shadow() {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -khtml-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin unselectable() {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

// Animations
@-moz-keyframes halfspin { 100% { -moz-transform: rotate(-180deg); } }
@-webkit-keyframes halfspin { 100% { -webkit-transform: rotate(-180deg); } }
@keyframes halfspin { 100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

// Root styles
%rounded-button {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border-width: 2px;
    border: 2px solid white;
    border-radius: 2em 2em 2em 2em;
    padding: 10px 20px 10px 20px;
    transition: all .2s ease-in;
}

html, body {
    height: 100vh;
}

#cover {
    @include unselectable();
    background: #222 url('../assets/desert-sky.jpg') center fixed no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.cover-button {
    @extend %rounded-button;

    &:hover {
        text-decoration: none;
        background-color: white;
        color: black;
        @include shadow();
    }
}

// Navbar
#nav-main {
    @include unselectable();
    background-color: $nav-color !important;
    //@include prettyshadow();
}

.nav-item {
    transition: all .2s ease-in;

    &:hover {
        background-color: rgba(33, 33, 116, 0.4);
    }
}

.navbar-toggler {
    border-width: 0;
}

.navbar-toggler-icon {
    background-image: url('../assets/arrow_white.svg') !important;
}

.hamburger-wrapper {
    cursor: pointer;
    transition: all .2s ease-in;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(33, 33, 116, 0.4);
    }

    .hamburger {
        color: white;
    }
}

// semplicemente un elemento vuoto che occupa molto spazio,
// utile per testare la pagina
.filler {
    flex: 1;
    height: 2000px;
    width: 100%;

    &::after{
        content: '\200b';
    }
}