@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700|Sunflower:700';

// Variables
$nav-color: rgb(48, 48, 48);
$nav-hover: rgba(255, 255, 255, .95);
$mat-text: rgb(49, 49, 49);
$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins
@mixin animation($name, $duration, $interp, $iter: 1) {
    animation: $name $duration $interp $iter;
    -webkit-animation: $name $duration $interp $iter;
    -moz-animation: $name $duration $interp $iter;
    -o-animation: $name $duration $interp $iter;
    -khtml-animation: $name $duration $interp $iter;
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin shadow() {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -khtml-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin glow($radius, $tint) {
    box-shadow: 0 0 $radius $tint;
    -moz-box-shadow: 0 0 $radius $tint;
    -webkit-box-shadow: 0 0 $radius $tint;
    -o-box-shadow: 0 0 $radius $tint;
    -khtml-box-shadow: 0 0 $radius $tint;
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin unselectable() {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

// Animations
@-moz-keyframes halfspin { 100% { -moz-transform: rotate(-180deg); } }
@-webkit-keyframes halfspin { 100% { -webkit-transform: rotate(-180deg); } }
@keyframes halfspin { 100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

// Root styles
%rounded-button {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border-width: 2px;
    border: 2px solid white;
    border-radius: 2em;
    padding: 10px 20px 10px 20px;
    transition: all .2s ease-in;
}

%glowy-button {
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    color: $mat-text;
    display: inline-block;
    border-width: 0;
    border-radius: 2em;
    padding: 10px 20px 10px 20px;
    transition: all .2s ease-in;
}

html, body {
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
}

#cover {
    @include unselectable();
    background: #222 url('../assets/cover.jpg') center fixed no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.caption {
    text-shadow: 0 2px 8px #000;
}

.cover-button {
    text-decoration: none;

    &.glass{
        @extend %rounded-button;
        margin-right: 12px;

        &:hover {
            text-decoration: none;
            background-color: white;
            color: black;
            @include shadow();
        }
    }

    &.material {
        @extend %glowy-button;
        &.glow { 
            @include glow(20px, white);
            padding: 14px 24px;
        }
        background-color: white;
        //margin-right: 12px;

        &:hover {
            &.glow { @include glow(24px, white); }
            text-decoration: none;
            background-color: rgb(207, 207, 207);
        }
    }
}

// Navbar
#nav-main {
    @include unselectable();
    background-color: $nav-color !important;
}

#side-nav {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    flex-grow: 1;
    color: white !important;

    &.hidden {
        flex-shrink: 1;
        width: 0;
        display: none;
    }
}

.nav-item {
    transition: all .2s ease-in;
    border-radius: 2px;

    &:hover:not(.pill) {
        text-decoration: none;
        background-color: $nav-hover;
        color: black !important;
    }

    &.pill {
        background-color: $nav-color;
        padding: 0 4px;
        border-radius: 0;

        &:first-of-type {
            padding-top: 4px;
        }

        &:last-of-type {
            padding-bottom: 4px;
        }

        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        &:first-child {
            margin-top: 10px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }
}

.placebo {
    color: $navbar-dark-color;

    @include hover-focus {
        color: $navbar-dark-hover-color;
    }

    &.active {
        background-color: $nav-hover !important;
        color: black !important;
    }
}

.navbar-toggler {
    border-width: 0;
}

.navbar-toggler-icon {
    background-image: url('../assets/arrow_white.svg') !important;
}

.hamburger-wrapper {
    cursor: pointer;
    transition: all .2s ease-in;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    &:hover {
        text-decoration: none;
        background-color: $nav-hover;
        color: black !important;

        .hamburger-icon {
            color: black !important;
        }
    }

    .hamburger-icon {
        color: white;
    }
}

#content-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#content {
    flex-grow: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    h1 {
        margin-bottom: 2rem;
    }

    h4 {
        margin-top: 2rem;
    }
}

hr:last-child {
    display: none;
}

footer {
    @include unselectable();
}

.footer-div {
    color: #ddd;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
        border-top: 1px solid #eee;
        content: " ";
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }

    &::after {
        background-color: #fff;
        content: "Ω";
        padding-left: .5rem;
        padding-right: .5rem;
        position: relative;
        z-index: 1;
    }

    &:hover {
        color: $nav-color;
    }
}

.gallery {
    margin-top: 3rem;

    & a img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        
        &:not(first-child) {
            margin-left: 12px;
        }
    }
}