@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:400,900');
}

// Variables
$nav-color: rgb(60, 60, 224);
$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins
@mixin unselectable() {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// Root styles
%rounded-button {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border-width: 2px;
    border: 2px solid white;
    border-radius: 2em 2em 2em 2em;
    padding: 10px 20px 10px 20px;
    transition: all .2s ease-in;
}

html, body {
    height: 100%;
}

#cover {
    @include unselectable();
    background: #222 url('../assets/desert-sky.jpg') center fixed no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.cover-button {
    @extend %rounded-button;
}

.cover-button:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

// Navbar
#nav-main {
    @include unselectable();
    background-color: $nav-color !important;
}

.nav-item {
    transition: all .2s ease-in;
}

.nav-item:hover {
    background-color: rgba(33, 33, 116, 0.4);
}

.hamburger-wrapper {
    cursor: pointer;
    transition: all .2s ease-in;
    min-width: 40px;
    max-width: 50px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    object.hamburger {
        pointer-events: none;
        cursor: pointer;
    }
}

.hamburger-wrapper:hover {
    background-color: rgba(33, 33, 116, 0.4);
}

// semplicemente un elemento vuoto che occupa molto spazio,
// utile per testare la pagina
.filler {
    flex: 1;
    height: 1000px;
    width: 100%;
}

.filler::after {
    content: '\200b';
}